<!doctype html>
<html>
  <head>
    <!-- Required meta stuff-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

    <!-- SEO magic -->
    <title>Layout Podcast</title>
    <meta name="description" content="Layout is a weekly podcast about design, technology, programming and everything else.">
    <meta name="author" content="Kevin Clark and Rafael Conde">

    <!-- Mobile optimizations -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link href="/assets/styles.scss" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="layout-wrapper">
      <div class="main">
        <header class="header">
          <a href="#" class="logo">
            <svg width="97" height="38" viewBox="0 0 97 38" xmlns="http://www.w3.org/2000/svg"><path d="M79.994 8.525c0 4.517 3.797 8.18 8.48 8.18 4.686 0 8.483-3.663 8.483-8.18V.345H92.18v8.18h2.368-2.37l.003.117c0 1.973-1.658 3.572-3.705 3.572-2.046 0-3.705-1.6-3.705-3.572 0-.04 0-.078.002-.117h-2.37 2.368V.345h-4.776v8.18zm-35.476 10.58v18.007h-4.995V19.087L26.835.367h5.718l9.51 13.59L51.654.36h5.7L44.52 19.104zm-21.894 4.16H15.47l-.918 3.256-4.853.004L16.592.41h4.934l6.818 26.11H23.42l-.796-3.255zm-5.75-4.994H21.4l-2.105-8.6-2.42 8.6zm64.153 7.648v11.108h-4.994V25.918H59.285v-4.994H97v4.994H81.027zM4.994 32.032V.344H0V37.025h29.363v-4.994H4.993zm63.03-14.897c4.9 0 8.87-3.836 8.87-8.567 0-4.732-3.97-8.568-8.87-8.568-4.897 0-8.868 3.836-8.868 8.568 0 4.73 3.97 8.567 8.87 8.567zm.083-4.613c2.165 0 3.92-1.697 3.92-3.79 0-2.092-1.755-3.79-3.92-3.79-2.164 0-3.92 1.698-3.92 3.79 0 2.093 1.756 3.79 3.92 3.79z" fill="#50C54C" fill-rule="evenodd"/></svg>
          </a>
          <ul class="nav">
            <li class="nav__item nav__item--selected"><a href="/" class="nav__link">Episodes</a></li>
            <li class="nav__item"><a href="mailto: kevin@kevinclark.ca" class="nav__link">Feedback</a></li>
            <li class="nav__item"><a href="http://twitter.com/layoutfm" class="nav__link">Twitter</a></li>
          </ul>
        </header>
        <%= yield %>
      </div>
      <div class="sidebar">
        <div class="inner-wrapper">
          <div class="sidebar-section">
            <div class="show-info">
              <img src="/assets/artwork.jpg" alt="" class="show-artwork">
              <div class="show-info__text">
                <p class="show-description">Layout is a weekly podcast about design, technology, programming and everything else.</p>
                <a href="#" class="btn">Subscribe on iTunes</a>
                <a href="/rss" class="btn">RSS Feed</a>
              </div>
            </div>
          </div>
          <div class="sidebar-section">
            <h3>Hosted by</h3>
            <ul class="host-list">
              <li class="host">
                <div class="host__avatar">
                  <img src="/assets/kevin.jpg" alt="">
                </div>
                <div class="host-info">
                  <span>Kevin Clark</span><br/>
                  <a href="http://twitter.com/vernalkick">Follow @vernalkick</a>
                </div>
              </li>
              <li class="host">
                <div class="host__avatar">
                  <img src="/assets/rafael.jpg" class="host__avatar" alt="">
                </div>
                <div class="host-info">
                  <span>Rafael Conde</span><br/>
                  <a href="http://twitter.com/rafahari">Follow @rafahari</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
